RemindSync Final Master Setup/Payment Followup Automation (1).json
{
  "name": "Payment Followup Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        224
      ],
      "id": "bbb57439-da92-4d08-8518-37efc53c5d8a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab the client rows from the \"Read Clients\" node\nconst items = $input.all(); \nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// 2. Grab Settings from the \"Read Settings\" node\nconst settingsItems = $items(\"Read Settings\");\nconst config = settingsItems[0].json; \n\n// 3. Set global variables from spreadsheet\nconst BUSINESS_NAME = config['Business Name'];\nconst PENALTY_PERCENTAGE = config['Penalty Percentage'];\nconst PENALTY_RATE = Number(PENALTY_PERCENTAGE) / 100;\n\nfor (const item of items) {\n  const row = item.json;\n\n  // 4. Safety check: skip empty rows\n  if (!row['Status'] || !row['Due Date'] || !row['Amount']) {\n      row.Action = 'None';\n      continue;\n  }\n// 4.1 Phone number check\n  // --- NEW: Phone Number Sanitization ---\n  if (row['Phone Number']) {\n      // 1. Convert to string and remove any spaces, dashes, or \"+\" \n      let cleanNumber = row['Phone Number'].toString().replace(/\\D/g, '');\n\n      // 2. If it's 10 digits (e.g., 9980540190), add 91\n      if (cleanNumber.length === 10) {\n          cleanNumber = '91' + cleanNumber;\n      }\n      // 3. If it's 12 digits but doesn't start with 91, fix it (for other country codes if needed)\n      // Or if it's 12 digits and starts with 91, it's already perfect.\n      \n      row['Phone Number'] = cleanNumber;\n  }\n  // 5. Skip if already paid or archived\n  if (row.Status.toLowerCase() === 'paid' || row.Status.toLowerCase() === 'archived') {\n    row.Action = 'None';\n    continue;\n  }\n\n  // 6. Clean the amount for math\n  row.Amount = Number(row.Amount.toString().replace(/,/g, ''));\n\n  // 7. Parse the Due Date\n  const dueDate = new Date(row['Due Date']);\n  dueDate.setHours(0, 0, 0, 0);\n\n  // 8. Format Date to DD-MM-YYYY\n  const d = dueDate.getDate().toString().padStart(2, '0');\n  const m = (dueDate.getMonth() + 1).toString().padStart(2, '0');\n  const y = dueDate.getFullYear();\n  row['Formatted Date'] = `${d}-${m}-${y}`;\n\n  // 9. Calculate Day Difference\n  const diffTime = dueDate.getTime() - today.getTime();\n  const diffDays = Math.round(diffTime / (1000 * 60 * 60 * 24));\n\n  // 10. Routing Logic\n  if (diffDays <= 5 && diffDays > 0) {\n    row.Action = 'Send Warning';\n    row['Days Late'] = 0; \n  } \n  else if (diffDays === 0) {\n    row.Action = 'Send Due Today Notice';\n    row['Days Late'] = 0; \n  } \n  else if (diffDays < 0) {\n    row.Action = 'Send Escalation';\n    row['Days Late'] = Math.abs(diffDays); \n  } \n  else {\n    row.Action = 'None';\n    row['Days Late'] = 0;\n  }\n\n  // 11. Math with Dynamic Penalty Rate\n  row['Daily Fine'] = Math.round(row.Amount * PENALTY_RATE);\n  row['Total Fine'] = row['Daily Fine'] * row['Days Late'];\n  row['Total Payable'] = row.Amount + row['Total Fine'];\n\n  // 12. Indian Currency Formatting (Commas)\n  row['Formatted Amount'] = row.Amount.toLocaleString('en-IN');\n  row['Formatted Daily Fine'] = row['Daily Fine'].toLocaleString('en-IN');\n  row['Formatted Total Fine'] = row['Total Fine'].toLocaleString('en-IN');\n  row['Formatted Total Payable'] = row['Total Payable'].toLocaleString('en-IN');\n\n // 13. DOUBLE-FORMATTER (Dynamic Templates with Name Matching)\n  if (row.Action !== 'None') {\n      // This converts \"Send Warning\" into \"Warning Template\" to match your headers\n      let actionName = row.Action.replace('Send ', ''); \n      let templateKey = actionName + ' Template';\n      \n      let template = config[templateKey] || \"\";\n\n      if (template === \"\") {\n          row['WhatsApp_Body'] = `Error: Could not find [${templateKey}] in Settings`;\n          row['Email_Body'] = `Error: Could not find [${templateKey}] in Settings`;\n      } else {\n// --- Build the WhatsApp Message ---\n      let waMessage = template;\n      \n      // 1. Convert HTML tags to WhatsApp formatting\n      waMessage = waMessage.replace(/<br>/g, '\\n'); // Line breaks\n      waMessage = waMessage.replace(/<b>/g, '*');   // Bold start\n      waMessage = waMessage.replace(/<\\/b>/g, '*'); // Bold end\n      \n      // 2. Map variables (Ensure we use WhatsApp's * symbol here too)\n      waMessage = waMessage.replace(/\\[NAME\\]/g, row['Client Name'] || \"Customer\");\n      waMessage = waMessage.replace(/\\[BUSINESS_NAME\\]/g, BUSINESS_NAME || \"\");\n      waMessage = waMessage.replace(/\\[CHANNEL\\]/g, 'WhatsApp message'); \n      waMessage = waMessage.replace(/\\[AMOUNT\\]/g, `*₹${row['Formatted Amount']}*`);\n      waMessage = waMessage.replace(/\\[DATE\\]/g, `*${row['Formatted Date']}*`);\n      waMessage = waMessage.replace(/\\[DAYS\\]/g, `*${row['Days Late']}*`);\n      waMessage = waMessage.replace(/\\[PENALTY_PERCENTAGE\\]/g, PENALTY_PERCENTAGE || \"0\");\n      waMessage = waMessage.replace(/\\[DAILY_FINE\\]/g, `*₹${row['Formatted Daily Fine']}*`);\n      waMessage = waMessage.replace(/\\[TOTAL_FINE\\]/g, `*₹${row['Formatted Total Fine']}*`);\n      waMessage = waMessage.replace(/\\[TOTAL\\]/g, `*₹${row['Formatted Total Payable']}*`);\n      row['WhatsApp_Body'] = waMessage;\n\n      // --- Build the Email Message ---\n      let emailMessage = template;\n      emailMessage = emailMessage.replace(/\\n/g, '<br>'); // Convert new lines to HTML\n      \n      // The email already understands <b> tags, so no extra replacement needed for tags!\n      \n      emailMessage = emailMessage.replace(/\\[NAME\\]/g, row['Client Name'] || \"Customer\");\n      emailMessage = emailMessage.replace(/\\[BUSINESS_NAME\\]/g, BUSINESS_NAME || \"\");\n      emailMessage = emailMessage.replace(/\\[CHANNEL\\]/g, 'E-mail'); \n      emailMessage = emailMessage.replace(/\\[AMOUNT\\]/g, `<b>₹${row['Formatted Amount']}</b>`);\n      emailMessage = emailMessage.replace(/\\[DATE\\]/g, `<b>${row['Formatted Date']}</b>`);\n      emailMessage = emailMessage.replace(/\\[DAYS\\]/g, `<b>${row['Days Late']}</b>`);\n      emailMessage = emailMessage.replace(/\\[PENALTY_PERCENTAGE\\]/g, PENALTY_PERCENTAGE || \"0\");\n      emailMessage = emailMessage.replace(/\\[DAILY_FINE\\]/g, `<b>₹${row['Formatted Daily Fine']}</b>`);\n      emailMessage = emailMessage.replace(/\\[TOTAL_FINE\\]/g, `<b>₹${row['Formatted Total Fine']}</b>`);\n      emailMessage = emailMessage.replace(/\\[TOTAL\\]/g, `<b>₹${row['Formatted Total Payable']}</b>`);\n      row['Email_Body'] = emailMessage;\n      }\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        224
      ],
      "id": "1bf95154-fc1d-4c7d-9789-bceca6cd54e7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Send Warning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d17e5b3b-5ffb-4e1e-bc07-051bcc2b86a1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "output0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8dc48b04-bf51-4c0c-8319-db7f5c9475cc",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Send Due Today Notice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "output1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a6b251f-c76c-47d4-acec-91f319daeb39",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Send Escalation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "output2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        224
      ],
      "id": "766e18b8-8971-4939-8ef2-5dd1f5d99af8",
      "name": "Switch"
    },
    {
      "parameters": {
        "fromEmail": "{{ $items(\"Read Settings\")[0].json[\"Business Email\"] }}",
        "toEmail": "={{ $json['mail id'] }}",
        "subject": "=Payment Reminder from {{ $items(\"Read Settings\")[0].json[\"Business Name\"] }}",
        "html": "={{ $json[\"Email_Body\"] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        112,
        112
      ],
      "id": "1a6dbcb4-2006-4033-8776-b0b42f8f69ea",
      "name": "Send an Email",
      "webhookId": "0c76d044-7d5c-45c3-9a88-28dfe8c0efb6",
      "credentials": {
        "smtp": {
          "id": "xK7sTjfD1RBMgJIb",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "{{ $items(\"Read Settings\")[0].json[\"Business Email\"] }}",
        "toEmail": "={{ $json['mail id'] }}",
        "subject": "=Payment Reminder from {{ $items(\"Read Settings\")[0].json[\"Business Name\"] }}",
        "html": "={{ $json[\"Email_Body\"] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        304,
        336
      ],
      "id": "17d61bb1-552a-4c95-8cfa-da20dfcda6c5",
      "name": "Send an Email1",
      "webhookId": "0c76d044-7d5c-45c3-9a88-28dfe8c0efb6",
      "credentials": {
        "smtp": {
          "id": "xK7sTjfD1RBMgJIb",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "{{ $items(\"Read Settings\")[0].json[\"Business Email\"] }}",
        "toEmail": "={{ $json['mail id'] }}",
        "subject": "=Payment Reminder from {{ $items(\"Read Settings\")[0].json[\"Business Name\"] }}",
        "html": "={{ $json[\"Email_Body\"] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        192,
        464
      ],
      "id": "de053a24-2bd8-46da-994d-8c6d97cf96c2",
      "name": "Send an Email2",
      "webhookId": "0c76d044-7d5c-45c3-9a88-28dfe8c0efb6",
      "credentials": {
        "smtp": {
          "id": "xK7sTjfD1RBMgJIb",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/16ysLkBq6PN3uoMfEK-5CKcaRaa_8cnb4iX3HddDk8vk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ysLkBq6PN3uoMfEK-5CKcaRaa_8cnb4iX3HddDk8vk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        224
      ],
      "id": "b043d6ba-4c39-4b0a-bc86-9d51e5ec191b",
      "name": "Read Clients",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GARJ3oEsFsey2F8X",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/16ysLkBq6PN3uoMfEK-5CKcaRaa_8cnb4iX3HddDk8vk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 721558652,
          "mode": "list",
          "cachedResultName": "settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ysLkBq6PN3uoMfEK-5CKcaRaa_8cnb4iX3HddDk8vk/edit#gid=721558652"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -912,
        224
      ],
      "id": "7d77b2ed-cb1e-4f4e-981a-a99bcc6cd403",
      "name": "Read Settings",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GARJ3oEsFsey2F8X",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cbd7542c-216a-4481-b165-61ab13705a77",
              "leftValue": "={{ $json['Trigger Hour (24h)'] }}",
              "rightValue": "={{ new Date().getHours() }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -704,
        224
      ],
      "id": "83211417-8644-42e3-a335-1688e8fadf60",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json['Phone Number'] }}"
            },
            {
              "name": "message",
              "value": "={{ $json.WhatsApp_Body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -32
      ],
      "id": "c53a9fb0-20ea-4e4b-a460-181d9cee89a3",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json['Phone Number'] }}"
            },
            {
              "name": "message",
              "value": "={{ $json.WhatsApp_Body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        192
      ],
      "id": "98bafbbe-a977-4fb3-bf08-ff63aa484f98",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json['Phone Number'] }}"
            },
            {
              "name": "message",
              "value": "={{ $json.WhatsApp_Body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        624
      ],
      "id": "8ec4153e-ef48-4591-a4a5-695f7cbb2cc0",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Clients": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Settings": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Read Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "none",
    "saveManualExecutions": false
  },
  "versionId": "e0d25eb8-2a71-489c-b9f2-72a7864e07dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0edbb95e5febee9bfac2e219be9cbf160baae6dfb54d4354b39c29dd8b409cff"
  },
  "id": "7YmPxLQtjay0TZ7h",
  "tags": []
}